{% load menu %} <!-- si dovrebbe chiamare polls_extras -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">

    <title>{% block title %}{% endblock %}|PPM_project</title>
</head>
<body>
<header>
    <nav class="max-w-4xl mx-auto py-4 px-6 flex item-center justify-between bg-teal-600">
     <div class="logo">
         <a class="text-2xl text-white" href="/">PPM_project</a>
     </div>

     <div class="menu flex space-x-4">
         {% menu %}
         <a href="{% url "about" %}" class="text-white">about</a>
     </div>
    </nav>
</header>





<div class="max-w-4xl  mx-auto py-4 px-6">
    {% block content %}
    {% endblock %}
</div>





</body>





</html>